body{
  background-color: #efefef;
  position: relative;
}

.am-container {
  margin: 30px auto;
}

.am-input-group-label {
  padding: 0;
  border: none; }

.am-panel-bd {
  height: 500px;
  overflow-x: hidden;
  padding: 0; }

.friendList.active {
  background-color: #efefef;
}

.friendList {
  list-style: none;
  padding-left: 0;
}

.friendList li.active {
  background-color: #efefef;
}

.friendList li:hover, .friendList li:active {
  background-color: #eee;
}

.friendList li {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.friendList li img {
  vertical-align: middle;
  width: 40px;
  height: 40px; }

.message-box {
  padding: 10px; }

.message {
  clear: both;
  padding: 10px;
  position: relative; }
.message img {
  height: 40px;
  width: 40px;
  vertical-align: middle; }
.message .body {
  width: auto;
  right: 0;
  padding: 5px 10px;
  word-break: break-word;
  background-color: #cae9f2;
  display: inline-block;
  position: relative;
  max-width: 510px; }
.message .body .emjoy {
  height: 25px;
  width: 25px;
  vertical-align: bottom;
  float: none; }

.message.left .body {
  border-radius: 5px;
  float: left;
  margin-left: 20px; }

.message.left img {
  float: left; }

.message.left .body:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  margin-top: 10px;
  left: -10px;
  border-right: 10px solid #cae9f2;
  border-top: 10px dashed transparent;
  border-bottom: 10px dashed transparent;
}

.message.right .body {
  border-radius: 5px;
  float: right;
  margin-right: 20px;
}

.message.right img {
  float: right;
}

.message.right .body:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  margin-top: 10px;
  right: -10px;
  border-left: 10px solid #cae9f2;
  border-top: 10px dashed transparent;
  border-bottom: 10px dashed transparent;
}

.am-panel-bd.myUserInfo {
  height: 60px;
  padding: 10px;
}

.am-panel-bd.myUserInfo img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.am-panel-bd.myUserInfo span {
  color: red;
}

.input-cover {
  position: absolute;
  width: 48px;
  height: 37px;
  opacity: 0;
  z-index: 2;
}

#fileFormId input {
  display: inline;
  width: 48px;
  height: 37px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.emjoy-td-hover td:hover {
  background-color: #e9e9e9;
}

.emjoyPanel {
  width: 202px;
  height: 125px;
  box-shadow: none;
  position: absolute;
  top: 0;
  margin-top: -150px;
}

.emjoyPanel ul {
  border: none;
  width: 100%;
  height: 100%;
}

.emjoyPanel ul li {
  width: 100%;
  height: 100%;
  border-top: 1px solid #efefef;
  box-sizing: border-box;
}

.emjoyPanel ul li img {
  display: inline-block !important;
  width: 25px !important;
  height: 25px;
  float: left;
  padding: 2px;
  box-sizing: border-box;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

.emjoyPanel ul li img.isLeft {
  border-left: 1px solid #efefef;
}

.w-h100px{
  width: 100px;
  height: 100px;
}

#userInfo [name="pictureFile"]{
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  top:0;
  left:0;
  opacity: 0;
  border-radius: 100%;
}

#userInfo [name="picture"]{
  display: none;
}

#userInfoImg input{
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 99;
  opacity: 0;
  margin-top: 30px;
}

.friend-left-nav{
  position: absolute;
  left:-60px;
}

#userTab .am-nav-tabs{
  background-color: #0e90d2;
}

#userTab .am-nav-tabs li{
  padding: 0
}

#userTab .am-nav-tabs>li>a{
  color: #fff;
  padding:.5rem 0 !important;
}

#userTab .am-nav-tabs li.am-active a{
  color: #000;
}

#userTab .am-nav-tabs li:hover a{
  color: #000;
  background-color: #fff;
}

#userTab .am-tab-panel{
  height: 500px;
  overflow-x: hidden;
  padding: 0;
  background-color: #fff;
}

.groupList.active {
  background-color: #efefef;
}

.groupList {
  list-style: none;
  padding-left: 0;
}

.groupList li.active {
  background-color: #efefef;
}

.groupList li:hover, .groupList li:active {
  background-color: #eee;
}

.groupList li {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.groupList li img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.groupList.active {
  background-color: #efefef;
}

.messageList {
  list-style: none;
  padding-left: 0;
}

.messageList li.active {
  background-color: #efefef;
}
.messageList li:hover, .groupList li:active {
  background-color: #eee;
}

.messageList li {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.messageList li img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.animate-up-to-down{
  position:absolute;
  animation:upToDown 1.5s infinite;
  -webkit-animation:upToDown 1.5s infinite; /*Safari and Chrome*/
}

@-webkit-keyframes upToDown /*Safari and Chrome*/
{
  0%,100%{
    top: 0;
  }
  15%{
    top: -10px;
  }
  30%{
    top: 0;
  }
  45%{
    top: -6px;
  }
  60%{
    top: 0;
  }
  75%{
    top: -4px;
  }
}

@keyframes upToDown {
  0%,100%{
    top: 0;
  }
  15%{
    top: -10px;
  }
  30%{
    top: 0;
  }
  45%{
    top: -6px;
  }
  60%{
    top: 0;
  }
  75%{
    top: -4px;
  }
}

.searchResult{
  margin-top: 15px;
}

.searchResult img{
  height: 40px;
  width: 40px;
}

.mouseRightClick{
  position: fixed;
  z-index: 99999999;
  left:0;
  top:0;
  display: none;
}

